<ion-menu [content]="content" id="BOQ">

  <ion-header>
<div class="menu-header">Categories</div>
  </ion-header>

  <ion-content class="menu">
    <ion-list class="menu-list">
      <div *ngFor="let c of catArray; let i = index;">
        <ion-row (tap)="toggleItems2(i)">
          <ion-col col-auto *ngIf="hasImage(c)"><img class="menu-thumbnail-img" [src]="c.image"></ion-col> 
          <ion-col col-auto *ngIf="!hasImage(c)"><img class="menu-thumbnail-img" src="../assets/img/nophoto.jpg"></ion-col> 
          <ion-col>
              <button detail-none class="parent" ion-item  *ngIf="c.open">
                  {{c.name}}
                  <ion-icon  item-right name="remove"></ion-icon> 
                </button>
                <button detail-none  class="parent"  ion-item *ngIf="!c.open">
                    
                    {{c.name}}
                    
                    <ion-icon item-right name="add"></ion-icon>
                    
                  </button>
          </ion-col>
        </ion-row>
          
            
          
<!--
            <img class="menu-thumbnail-img" *ngIf="menuItem.image" [src]="menuItem.image">
-->      

        <ion-list class="menu-child-list" *ngIf="c.open === true" class="child" >
          <div *ngFor="let child of c.children ; let j = index">
            <ion-row (tap)="goToSubCat(child)">
                <ion-col col-auto *ngIf="hasImage(child)"><img class="menu-thumbnail-img" [src]="child.image"></ion-col> 
                <ion-col col-auto *ngIf="!hasImage(child)"><img class="menu-thumbnail-img" src="../assets/img/nophoto.jpg"></ion-col>
          <ion-col>
          <button detail-none  ion-item >
            {{child.name}}
          </button>
        </ion-col>
          </ion-row>
          </div>
        </ion-list>
    
      </div>

    

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>