// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
.scroll-content {
  padding-bottom: 0 !important;
}

ion-card img {
  //display: block;
  //width: 100vw;
  height: 20vh;
}



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: ( 
   primary: #e94d3a,
   secondary: #e94d3a,
   danger: #f15a67,
   light: #f4f4f4,
   dark: #000000,
   pearl: #e9eaea,
   primarydark:#0081b1,
   lightdark: #d9d9d9,
   greydark: #858585,
   processing: #e0a018,
   golden: #f9a618,
   wight: #ffffff

  );


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
ion-navbar.toolbar{
  background-color: color($colors,primary);
}

.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
  padding-top: calc(20px + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));
}


.tabs-ios .tabbar{
  color: color($colors, wight);
  background: color($colors, wight)!important;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
  color:color($colors, golden)!important;
}

.tabs-ios .tab-button[aria-selected=true] {
  color: color($colors, golden)!important;
}
.tabs-ios .tab-button .tab-button-icon {
  color:color($colors, primary)!important;
}

.tabs-ios-primary .tab-button, .tabs-ios-primary .tab-button-icon {
  color:color($colors, primary)!important;
}

.toolbar-background-ios{
  background-color: color($colors,primary) !important;
}





// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


.tabs-md .tabbar{
  color: color($colors, wight);
  background: color($colors, wight)!important;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color:color($colors, golden)!important;
}

.tabs-md .tab-button[aria-selected=true] {
  color: color($colors, golden)!important;
}
.tabs-md .tab-button .tab-button-icon {
  color:color($colors, primary)!important;
}

.tabs-md-primary .tab-button, .tabs-md-primary .tab-button-icon {
  color:color($colors, primary)!important;
}



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$tabs-background: color($colors, primary);
 
 $tabs-wp-tab-color: color($colors, primary);
 $tabs-wp-tab-icon-color: color($colors, primary);
 $tabs-wp-tab-color-active: color($colors, primary);
 $tabs-wp-tab-icon-color-active: color($colors, primary);

 $tabs-md-tab-icon-color: color($colors, primary);
 $tabs-md-tab-text-color: color($colors, primary);
 $tabs-md-tab-icon-color-active: color($colors, primary);
 $tabs-md-tab-text-color-active: color($colors, primary);

 $tabs-ios-tab-text-color: color($colors, primary);
 $tabs-ios-tab-icon-color: color($colors, primary);
 $tabs-ios-tab-icon-color-active: color($colors, primary);
 $tabs-ios-tab-text-color-active: color($colors, primary);
 
 /* Header Toolbar */
 
 $toolbar-background: color($colors, primary);
 $toolbar-border-color: transparent;
 .toolbar-white-button {
   color: #fff;
 }


 ion-navbar{
  background-color: color($colors,wight) !important;
}
.toolbar-background-md{
  background-color: color($colors,wight) !important;
}
.toolbar-background-ios{
  background-color:  color($colors,wight) !important;
}
 
 ion-title {
   div {
     margin-top: 0.1vh;
     font-size: 1.2em;
     font-weight: 400;
     color: color($colors, primary);
     span {
       color: color($colors, secondary);
     }
   }
 }
 
 .menu-image {
   height: 2.6vh;
 }
 .menu-logo-img{
  height: 7vh;
  display: block;
}
 
 /*.no-scroll .scroll-content {
   overflow: hidden;
 }*/
 
 .clear-gap {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
 }
 
 .line {
   display: inline-block;
   border-bottom: 2px solid color($colors, secondary);
   width: 10vw;
 }
 
 .line2left {
   display: inline-block;
   .line-left {
     display: inline-block;
     border-bottom: 2px solid color($colors, secondary);
     width: 8vw;
   }
   .line-right {
     display: inline-block;
     border-bottom: 2px solid color($colors, lightdark);
     width: 8vw;
   }
 }
 
 .line2right {
   display: inline-block;
   .line-left {
     display: inline-block;
     border-bottom: 2px solid color($colors, lightdark);
     width: 8vw;
   }
   .line-right {
     display: inline-block;
     border-bottom: 2px solid color($colors, secondary);
     width: 8vw;
   }
 }
 
 .ion-ios-facebook,
 .ion-ios-facebook-outline,
 .ion-md-facebook {
   content: url(../assets/img/facebook.png);
   height: 24px !important;
   margin-left: 5vw;
   opacity: 1;
 }
 
 .ion-ios-twitter,
 .ion-ios-twitter-outline,
 .ion-md-twitter {
   content: url(../assets/img/twitter.png);
   height: 24px !important;
   margin-left: 5vw;
   opacity: 1;
 }
 
 .ion-ios-google,
 .ion-ios-google-outline,
 .ion-md-google {
   content: url(../assets/img/google.png);
   height: 24px !important;
   margin-left: 5vw;
   opacity: 1;
 }
 
 .clear-list .item {
   margin: 0 0 0 0;
   border: none !important;
   ion-label {
     color: color($colors, greydark);
   }
   ion-input {
     color: color($colors, primary);
   }
   .text-input {
     border: none;
     border-bottom: 1px solid color($colors, lightdark) !important;
     box-shadow: none;
   }
   .text-input:focus {
     border: none;
     border-bottom: 1px solid color($colors, primary) !important;
     box-shadow: none;
   }
   .input-icon {
     padding-top: 3vh;
     color: color($colors, primary) !important;
   }
 }
 
 .clear-list .item:last-child {
   border: none !important;
   ion-input {
     color: color($colors, primary);
   }
   .text-input {
     border: none;
     border-bottom: 1px solid color($colors, lightdark) !important;
     box-shadow: none;
   }
   .text-input:focus {
     border: none;
     border-bottom: 1px solid color($colors, primary) !important;
     box-shadow: none;
   }
 }
 
 .clear-list .item .item-inner {
   border: none !important;
 }
 /* clear android input focus... */
 .item-md.item-input.input-has-focus .item-inner {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 .item-ios.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}
 
 .list-md .item-input.input-has-focus:last-child {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }

 .list-ios .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}
 
 .list-md .item-input.input-has-focus:last-child .item-inner {
   box-shadow: none;
 }
 .list-ios .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

 .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

 
 .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }

 .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

 
 .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
   box-shadow: none;
 }
 .list-ios .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

 
 .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 .item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

 .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
   border-bottom-color: transparent !important;
   box-shadow: none !important;
 }
 .list-ios .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}


 .swiper-container-android .swiper-slide, .swiper-wrapper{
  transform: translate3d(0, 0, 0) ;
 }

 .toolbar-content-md{
  display: inherit !important;
}
.toolbar-content-ios{
  display: inherit;
}

 .toolbar-title-md {
  padding: 0 12px;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}

.toolbar-title-ios {
  padding: 0 12px;
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}


.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: color($colors,primary) !important ;
  background-color: transparent;
}

.bar-button-default-ios, .bar-button-clear-ios-default, .bar-button-ios-default {
  color: color($colors,primary) !important ;
  background-color: transparent;
}

