page-home {
background-color: #fff;

// .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
//   left: 0;
//   bottom: 3vh;
//   width: 100%;
// }
.slider-image{
  width: 100%;
}
.search-change{
  font-size: 1.6em;
}

  .card9-container {
    display: inline-block;
    margin: 2vw 0 0 2vw;
    width: 29vw;
    height: 14vh;
    background-color: color($colors, pearl);
    .pic-box {
      text-align: center;
      padding-top: 0.3vh;
      position: relative;
    
      img {
        border-radius: 13px;

        height: 14vh;
      }
    }
    .title {
      width: 98%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-top: 1vh;
      padding-left: 3vw;
      padding-right: 3vw;
      color: color($colors, greydark);
      font-size: 1.25rem;
    }
   
     
  }

  
  .list-container{
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 100vw;
  }












  .tabs-wrapper {
    width: 100vw;
    padding: 2vh 0vw 0vh 0vw;
    .tabs-round {
      width: 95vw;
      margin-left: 2.5vw;
      //background-color: color($colors, primary);
      border-radius: 7px;
      button {
        padding: 0px 10vw 0 10vw;
        height: 36px;
        font-size: 1.6rem;
        font-weight: 800;
        color: color($colors, pearl);
        text-transform: uppercase;
      }
      .tab-selected-cat{
        display: inline-block;
        width: 47.5vw;
        text-align: right;
        /* border-right: 2px dotted #ffffff; */
        background-color: color($colors, primary);
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        border: solid thin;
        button {
          
          color: color($colors, pearl);
          
        }
      }
      .tab-notselected-cat{
        display: inline-block;
        width: 47.5vw;
        text-align: right;
        /* border-right: 2px dotted #ffffff; */
        background-color: color($colors, pearl);
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        border: solid thin;
        button {
          
          color: color($colors, primary);
          
        }
      }

      .tab-notselected-ven {
        display: inline-block;
        width: 47.5vw;
        text-align: right;
        position: absolute;
        display: inline-block;
        background-color: color($colors, pearl);
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        border: solid thin;
        button {
          
          color: color($colors, primary);
          
        }
        
      }
      
      .tab-selected-ven{
        display: inline-block;
        width: 47.5vw;
        text-align: right;
        position: absolute;
        display: inline-block;
        background-color: color($colors, primary);
        border-bottom-right-radius: 7px;
        border-top-right-radius: 7px;
        border: solid thin;
        button {
          
          color: color($colors, pearl);
          
        }
        
      }
      
      
      .order-price {
      
     
        font-size: 1.83rem;
        font-weight: 500;
        width: 47.5vw;
        color: color($colors, pearl);
        position: absolute;
        display: inline-block;
      }
    }
  }


  .deals-button{
    width: 100%;
    background-color: transparent;
    color: color($colors,secondary);
    transition: none 0s ease 0s;
    height: 7vh;
  }
  .pane {
    background-color: color($colors, light);
    height: 100vh;
  }
 
  .ads-wrapper {
    width: 100%;
    margin: 10 10 0 0;
    padding: 10 0 0 0;
    .ads-box {
      top: 43%;
      //right: 10; 
      left: 10;
      padding: 2vw 5vw 2vw 5vw;
     // position: absolute;
      display: inline-block;
      color: color($colors, pearl);
      background-color: rgba( 51, 51, 51, 0.68);
      .ads-title {
        font-size: 1.26em;
        text-transform: uppercase;
        font-weight: 500;
        white-space: normal;
        span {
          font-size: 1.36em;
        }
      }
      .ads-description {
        font-size: 0.86em;
      }
    }
  }

  .listbox {
    
    left: 0%;
    padding: 0vw 0vw 2vw 0vw;
   
    width: 100%;
    display: inline-block;
    /* margin-bottom: 4vh; */
    border-bottom-right-radius:13px;
    border-bottom-left-radius: 13px;
    // background-color: rgba(34, 35, 33, 0.85);
    background-color: color($colors,wight);
    .title {
      font-size: 1.26em;
      text-transform: uppercase;
      font-weight: 500;
      color: color($colors,primary);
      white-space: normal;
      span {
        font-size: 1.36em;
      }
    }
    .description {
      font-size: 0.86em;
    }
  }

  .fade-away {
    position: absolute;
    top: 75%;
    left: 0px;
    width: 100%;
    height: calc(38vh - 75%);
    background: transparent;
    background: linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -moz-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -ms-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -o-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
    background: -webkit-linear-gradient(to bottom, rgba( 255, 255, 255, 0) 0%, rgba( 51, 51, 51, 0.8) 100%);
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: color($colors, light);
    }
  }
  .ads-box-title {
    font-size: 0.9em;
    padding: 2vw 3vw 2vw 3vw;
    text-align: center; // width: 26%;
    position: absolute;
    display: inline-block;
    color: color($colors, pearl);
    background-color: rgba( 51, 51, 51, 0.88);
    border: 2px solid color($colors, pearl);
  }
  .ads-box-title:hover {
    background-color: rgba( 51, 51, 51, 0.68);
  }
  .ads-box-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-color: transparent;
    border-style: solid;
  }
  .ads-box-title::before {
    border-width: 0.5em;
    border-left-color: color($colors, primary);
    border-bottom-color: color($colors, primary);
  }
  .ads-box-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
  }
  .ads-box-title::after {
    border-width: 0.5em;
    border-right-color: color($colors, secondary);
    border-top-color: color($colors, secondary);
  }
  .ads-button {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: color($colors, pearl);
    text-transform: none;
    font-weight: 400;
  }
  .small-ads-wrapper {
    max-height: 50vh;
    width: 100%;
    padding: 0.5vh 0% 2px 1%;
    background-color: color($colors, light);
    .left-ads-wrapper {
      width: 49%;
      display: inline-block;
      .ads-box {
        height: calc(100vh - 38vh - 50px - 70px);
        background: url(../assets/img/home/kids01.png);
        background-size: cover;
        .ads-box-title {
          padding: 1px 8px 1px 8px;
          bottom: 2%;
          left: 13%;
          text-align:center;
        }
      }
    }
    .right-ads-wrapper {
      width: 49%;
      display: inline-block;
      .tiny-ads-wrapper1 {
        padding-bottom: 2px;
        .ads-box {
          height: calc((100vh - 38vh - 50px - 70px)/2 - 2px);
          background: url(../assets/img/home/women01.png);
          background-size: cover;
          .ads-box-title {
            padding: 1px 8px 1px 8px;
            bottom: calc(((100vh - 38vh - 50px - 70px)/2 - 2px) + 2vh);
            left: 63%;
          }
        }
      }
      .tiny-ads-wrapper2 {
        padding-top: 2px;
        .ads-box {
          height: calc((100vh - 38vh - 50px - 70px)/2 - 2px);
          background: url(../assets/img/home/men01.png);
          background-size: cover;
          .ads-box-title {
            padding: 1px 8px 1px 8px;
            bottom: 2%;
            left: 65%;
          }
        }
      }
    }
  }

  .main-item{
    width: inherit;
    height: inherit;
  }
  // .swiper-slide{
  //   width: 150px !important;
  // }
  .slide-item{
    width: 33vw!important;
    padding-left: 6px;
  }
  .slides{
    height: 23vh;
    
  }
  .category-img{
    width: 100%;
    height: 100%;
    max-height: 100%;

  }
  .slider-main-img{
    width: 100%;
    max-width: 100%;
    max-height: inherit;
    height: inherit;
  }
  .sliding-items-col{
    width: 12vw;
    height: 20vh;
  }
  .sliding-items-row{
    width: 14vw;
    height: 10vh;
    padding: 0;
    margin: 0;
  }
  .sliding-item{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .grid-row{
    height: 20vh;
    width: 100%;
  }

  .slider-header{
    font-size: 1.3rem;
    color: color($colors,secondary);
  }
  .slides-wrapper{
    padding-top: 1vh;
    animation: "slide-in-right"
  }




  .slide-in-right {
    -webkit-transform: translateX(100%);
      transform: translateX(100%); }
  
  .slide-in-right.ng-enter, .slide-in-right > .ng-enter {
    -webkit-transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms; }
  
  .slide-in-right.ng-enter-active, .slide-in-right > .ng-enter-active {
    -webkit-transform: translateX(0);
      transform: translateX(0); }
  
  .slide-in-right.ng-leave, .slide-in-right > .ng-leave {
    -webkit-transition: all ease-in-out 250ms;
    transition: all ease-in-out 250ms; }





}