<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    
      <img src="assets/img/small-logo.png"  class="menu-logo-img">
    
      <ion-searchbar (tap)="toSearchPage()"></ion-searchbar>
  </ion-navbar> 
</ion-header>
<ion-content center class="page-home pane no-scroll">

       



  <div>
    <ion-slides dir="auto" autoplay="3000" loop="true" speed="1000" class="slides" pager="true">
      <ion-slide *ngFor="let Image of adsSliders">
         <img src="{{Image.image}}" alt="Product Image">
      </ion-slide>
 </ion-slides>
  </div>
<!-- 
  <div>
    <button ion-button (tap)="changeView()">Change View Type</button>
  </div> -->


  
  <ion-segment mode="md" [(ngModel)]="viewNum" color="secondary">
  <ion-segment-button value="0">
    <div class="search-change">{{'homePage.Category' | translate}}</div>
  </ion-segment-button>
  <ion-segment-button value="1">
    <div class="search-change">{{'homePage.Supplier' | translate}}</div>
  </ion-segment-button>
</ion-segment>




<div [ngSwitch]="viewNum">
  <div class="list-container" *ngSwitchCase="'0'">
  <div class="card9-container" *ngFor="let item of category_array">
           
    <div (tap)="categories(item)">
    
      <div class="pic-box" >
      <img [src] = "getImgContent(item.image)">
   
        <div class="listbox">
          <div class="title">{{item.name}}</div>
        </div>
      </div>
    </div>
    
   
  </div>
</div>

<div class="list-container" *ngSwitchCase="'1'">
  <div class="card9-container" *ngFor="let item of vendorsArray">
           
    <div (tap)="vendor(item)">
    
      <div class="pic-box" >
      <img [src] = "getImgContent(item.image)">
    </div>
  
   
  </div>
  </div>
</div>
</div>


<!-- <div *ngIf="viewType==1">
  <div>
    <ion-slides dir="auto"  loop="true" class="slides" pager="true" [slidesPerView]="3">
      <ion-slide (tap)="categories(Image)" *ngFor="let Image of category_array">
         <img class="slider-image" src="{{Image.image}}" alt="Product Image">
      </ion-slide>
 </ion-slides>
  </div>



   <div>
    <ion-slides dir="auto"  loop="true" class="slides" pager="true" [slidesPerView]="3">
      <ion-slide (tap)="vendor(Image)"  *ngFor="let Image of vendorsArray">
         <img class="slider-image" src="{{Image.image}}" alt="Product Image">
      </ion-slide>
 </ion-slides>
  </div> 
</div> -->
</ion-content>