page-sub-cate-list {
  .button-left{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width:30vw;
  }
  .button-right{
    float: right;
    width: 30vw;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;

  }
  .item-name {
    margin: 1.3vh 0 0 0;
}
.slider-container{
  height: 100px;
  .slider-div {
    box-shadow: inset 0px 0px 5px 1px grey;
    
    width: 90%;
    height: 50px;
    margin: auto;
    .slider-name{
      height: 49px;
      white-space: normal;
      overflow: hidden;

    }
   
  }
}
.scroll-container{
  height: calc(100% - 85px);
}
.scroll-list{
  height: 100%;
}
.cart-list-item{
  width: 100%;
  width: 100%;
  // box-shadow: 0px 0px 10px 0px grey;
  border-bottom: thin solid #3b3b3b;
  margin-bottom: 11px;
  .item-thumbnail{
    border-radius: 13px;
    .img{
    border-radius: 13px;
    }
  }

  .order-button{
    width: 100%;
    border: thin solid #e94d3a;
    color: #e94d3a;
    text-align: center;
    height: 4vh;
    ion-badge {
      position: absolute;
      top: 9.1rem;
      right: 0.8rem;
      opacity: 0.9;
    }
    .order-text{
      font-size: 1.2rem;
      margin-top: 1vh;
    }

  }
  .label-md {
    height: 100%;
     margin:0;
}
.label-ios {
  height: 100%;
   margin:0;
}
.price-wrapper{
  
  width: 37%;
 
  .price {
    font-size: 1.68rem;
    font-weight: 500;
    color: color($colors, primary);
    
  }
  .old-price {
    margin-left: 3vw;
    margin-top: 3px;
    font-size: 1.26rem;
    font-weight: 400;
    color: color($colors, lightdark);
    text-decoration: line-through;
    position: absolute;
    display: inline-block;
  }

}
}
.item-vendor{
  color: #d4902a;
}
.item-name-container{
  
  width: 61%;
  white-space: normal;
  display: inline-block;
}

.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start] {
  margin: 8px 9px 8px 0;
}
.item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left], .item-ios ion-avatar[item-start], .item-ios ion-thumbnail[item-start] {
  margin: 8px 9px 8px 0;
}
    
      
        .title {
          font-size: 1.38rem;
          font-weight: 500;
          padding-left: 5vw;
        }
        .action-button-wrapper {
          padding-top: 2vh;
          width: 93vw;
          text-align: center;
          .action-button-box {
            margin: 1vh 3vw 1vh 3vw;
            display: inline-block;
            width: 38vw;
            border: 1px solid color($colors, lightdark);
            border-radius: 5px;
            background-color: color($colors, pearl);
            button {
              color: color($colors, dark);
              font-size: 1.5rem;
              font-weight: 500;
              margin-top: 0;
              margin-bottom: 0;
              padding-bottom: 0;
              
            }
            .delivery-type {
              margin-top: -1vh;
              padding: 0 3vw 3vw 3vw;
              font-size: 1.206rem;
            }
          }
          .action-button-box.checked {
            border: 1px solid color($colors, primary);
            button {
              color: color($colors, secondary);
            }
          }
        }

        .toolbar-title-md {
          padding: 0 12px;
          font-size: 3rem;
          font-weight: 800;
          color: #ffffff;
      }


      .tabs-wrapper {
        width: 100vw;
        padding: 2vh 0vw 0vh 0vw;
        .tabs-round {
          width: 95vw;
          margin-left: -2vw;
          //background-color: color($colors, primary);
          border-radius: 7px;
          button {
            padding: 0px 10vw 0 10vw;
            height: 36px;
            font-size: 1.6rem;
            font-weight: 800;
            color: color($colors, pearl);
            text-transform: uppercase;
          }
          .tab-selected-cat{
            display: inline-block;
            width: 47.5vw;
            text-align: right;
            /* border-right: 2px dotted #ffffff; */
            background-color: color($colors, primary);
            border-bottom-left-radius: 7px;
            border-top-left-radius: 7px;
            border: solid thin;
            button {
              
              color: color($colors, pearl);
              
            }
          }
          .tab-notselected-cat{
            display: inline-block;
            width: 47.5vw;
            text-align: right;
            /* border-right: 2px dotted #ffffff; */
            background-color: color($colors, pearl);
            border-bottom-left-radius: 7px;
            border-top-left-radius: 7px;
            border: solid thin;
            button {
              
              color: color($colors, primary);
              
            }
          }
    
          .tab-notselected-prod {
            display: inline-block;
            width: 47.5vw;
            text-align: right;
            position: absolute;
            display: inline-block;
            background-color: color($colors, pearl);
            border-bottom-right-radius: 7px;
            border-top-right-radius: 7px;
            border: solid thin;
            button {
              
              color: color($colors, primary);
              
            }
            
          }
          
          .tab-selected-prod{
            display: inline-block;
            width: 47.5vw;
            text-align: right;
            position: absolute;
            display: inline-block;
            background-color: color($colors, primary);
            border-bottom-right-radius: 7px;
            border-top-right-radius: 7px;
            border: solid thin;
            button {
              
              color: color($colors, pearl);
              
            }
            
          }
          
          
          .order-price {
          
         
            font-size: 1.83rem;
            font-weight: 500;
            width: 47.5vw;
            color: color($colors, pearl);
            position: absolute;
            display: inline-block;
          }
        }
      }
      

}
