<!--
  Generated template for the HotOffer page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <img src="assets/img/small-logo.png"  class="menu-logo-img">
  </ion-navbar> 
 
</ion-header>


<ion-content class="page-hotoffers">
  <!-- <div *ngIf="ReadyOffers">
    <ion-slides loop="false" pager="false" parallax="true" dir="ltr" slidesPerView='4'>
      <ion-slide class="cat-slide" (tap)="filter()">
        <div *ngIf="Activenow == -1" class="cat-slide-activated">
          All
        </div>

        <div *ngIf="Activenow != -1">
          All
        </div>
      </ion-slide>

      <ion-slide *ngFor="let o of allOffers; let i=index;" (tap)="filter(o,i)">
        <div *ngIf="Activenow == i" class="cat-slide-activated">
          {{o}}
        </div>

        <div *ngIf="Activenow != i">
          {{o}}
        </div>
      </ion-slide>
    </ion-slides>

    <div>
      <ion-list *ngFor="let item of filtered_Array " no-lines>
        <ion-item>
          <ion-card style="border-radius:20px;" (tap) = "toProduct(item)">
            <ion-card-header>
              <h3>
                {{item.name}}
              </h3>
            </ion-card-header>
            
            <img [src]="item.image1" />
            <ion-card-content>
                <h4 style="text-align:center;">Offer information</h4> 
                <hr>
              <h5 style="font-weight:bold;">Offer name :</h5> <h5>{{item.offer_name}}</h5>
             <h5 style="font-weight:bold;">Price :</h5> <h5>{{item.currentPrice}} LE</h5>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
    

  </div>  -->
  <!-- <div>
    <ion-list *ngFor="let item of filtered_Array " no-lines>
      <ion-item>
        <ion-card style="border-radius:20px;" >
          <ion-card-header>
            <h3>
              {{item.name}}
            </h3>
          </ion-card-header>
          
          <img [src]="item.image1" />
          <ion-card-content>
              <h4 style="text-align:center;">Offer information</h4> 
              <hr>
            <h5 style="font-weight:bold;">Offer name :</h5> <h5>{{item.offer_name}}</h5>
           <h5 style="font-weight:bold;">Price :</h5> <h5>{{item.currentPrice}} LE</h5>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div> -->

</ion-content>