page-search {
  .search-change-button{

  }

  .search-change-wrapper{
    width :100%;
    display: inline;
  }
  .search-change-round{
    width : 80vw;
  }
  .search-change{
    font-size: 1.6em;
  }
  .price-wrapper{
    display: inline-block;
    width: 20%;      
    .price {
      font-size: 1.68rem;
      font-weight: 500;
      color: color($colors, primary);
      display: inline-block;
    }
    .old-price {
      margin-left: 3vw;
      margin-top: 3px;
      font-size: 1.26rem;
      font-weight: 400;
      color: color($colors, lightdark);
      text-decoration: line-through;
      position: absolute;
      display: inline-block;
    }
  }
  .order-button{
    width: 100%;
    border: thin solid #e94d3a;
    color: #e94d3a;
    text-align: center;
    height: 4vh;
    .order-text{
      font-size: 1.2rem;
      margin-top: 1vh;
    }

  }
  .result-list {
    width: 100vw;
    min-height: 90vh;
    .cart-list {
      border: none;
      .cart-list-item{
        width: 100%;
        border-bottom: thin solid #3b3b3b;
        .item-thumbnail{
          border-radius: 13px;
          .img{
          border-radius: 13px;
          }
        }
        
        .label-md {
          height: 100%;
           margin:0;
      }
      .label-ios {
        height: 100%;
         margin:0;
      }
      .price-wrapper{
        display: inline-block;
        width: 37%;
        text-align: center;
        .price {
          font-size: 1.68rem;
          font-weight: 500;
          color: color($colors, primary);
          display: inline-block;
        }
        .old-price {
          margin-left: 3vw;
          margin-top: 3px;
          font-size: 1.26rem;
          font-weight: 400;
          color: color($colors, lightdark);
          text-decoration: line-through;
          position: absolute;
          display: inline-block;
        }
      
      }
      }
      .actiion-button {
        button {
          width: 18vw;
        }
      }
    }
    .cart-list .item {
      border: none;
      border-bottom: 1px solid color($colors, lightdark) !important;
    }
    .cart-list .odd {
      background-color: color($colors, light) !important;
    }
    .cart-list .item:first-child {
      border: none !important;
      border-bottom: 1px solid color($colors, lightdark) !important;
    }
    .cart-list .item:last-child {
      border: none !important;
      border-bottom: 1px solid color($colors, lightdark) !important;
    }
    .cart-list .item .item-inner {
      border: none;
    }
  }
  h2{
    white-space: normal;
  }

  .item-vendor{
    color: #d4902a;
  }
  .item-name-container{
    margin: 1.3vh 0 0 0;
    width: 75%;
    white-space: normal;
    display: inline-block;
  }
}
