page-profile { 
  .no-items {
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
    .title {
      font-size: 1.68rem;
      font-weight: 500;
      color: color($colors,primary);
    }
    .no-items-round {
      width: 80vw;
      margin-left: 5vw;
      background-color: color($colors, secondary);
      border-radius: 20px;
      margin-top: 2vh;
    }
  }
  .content-wrapper {
    width: 100vw;
    .profile {
      .avatar-image {
        width: 100vw;
        min-height: 25vh;
        border-bottom: 1px solid color($colors, light);
        .avatar-container {
          width: 100vw;
          height: auto;
          left: 0;
          right: 0;
          transform: translateX(calc((100vw - 100px)/2));
        }
        .avatar-cropper {
          margin-top: 5vh;
          margin-bottom: 5vh;
          display: inline-block;
          position: relative;
          overflow: hidden;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          border: 1px solid color($colors, lightdark);
          width: 100px;
          height: 100px;
        }
      }
      .info-list {
        margin-top: 1vh;
        border: none;
        .info-icon {
          color: color($colors, primary);
          font-size: 2.5rem;
        }
        .info-detail {
          font-size: 1.36rem;
          font-weight: 350;
        }
      }
      .info-list .item {
        border: none;
        height: 9vh;
        border-bottom: 1px solid color($colors, light);
      }
      .info-list .item .item-inner {
        border: none;
      }
    }
    .order {
      width: 100vw;
      min-height: 90vh;
      .order-list {
        border: none;
        .date {
          font-size: 1.46rem;
          font-weight: 400;
        }
        .order-number {
          margin-top: 5px;
          font-size: 1.36rem;
          font-weight: 300;
        }
        .processing {
          font-size: 1.36rem;
          font-weight: 400;
          color: color($colors, processing);
        }
        .delivered {
          font-size: 1.36rem;
          font-weight: 400;
          color: color($colors, secondary);
        }
      }
      .order-list .item {
        border: none;
        height: 10vh;
        border-bottom: 1px solid color($colors, light);
      }
      .order-list .item .item-inner {
        border: none;
      }
    }
    .wishlist {
      width: 100vw;
      min-height: 90vh;
      .cart-list-item{
        width: 100%;
        border-bottom: thin solid #3b3b3b;
        .item-thumbnail{
          border-radius: 13px;
          .img{
          border-radius: 13px;
          }
        }
        .order-button{
          width: 100%;
          border: thin solid #e94d3a;
          color: #e94d3a;
          text-align: center;
          height: 4vh;
          .order-text{
            font-size: 1.2rem;
            margin-top: 1vh;
          }
      
        }
        .label-md {
          height: 100%;
           margin:0;
      }
      .label-ios {
        height: 100%;
         margin:0;
      }
      .item-name-container{
        margin: 1.3vh 0 0 0;
        width: 61%;
        white-space: normal;
        display: inline-block;
      }
      .price-wrapper{
        display: inline-block;
        width: 37%;
        text-align: center;
        .price {
          font-size: 1.68rem;
          font-weight: 500;
          color: color($colors, primary);
          display: inline-block;
        }
        .old-price {
          margin-left: 3vw;
          margin-top: 3px;
          font-size: 1.26rem;
          font-weight: 400;
          color: color($colors, lightdark);
          text-decoration: line-through;
          position: absolute;
          display: inline-block;
        }
      
      }
      }
      .cart-list .item {
        border: none;
        border-bottom: 1px solid color($colors, lightdark) !important;
      }
      .cart-list .odd {
        background-color: color($colors, light) !important;
      }
      .cart-list .item:first-child {
        border: none !important;
        border-bottom: 1px solid color($colors, lightdark) !important;
      }
      .cart-list .item:last-child {
        border: none !important;
        border-bottom: 1px solid color($colors, lightdark) !important;
      }
      .cart-list .item .item-inner {
        border: none;
      }
    }
    .address-container {
      .address-list {
        .address-list-item {
          h2 {
            font-size: 1.36rem;
            font-weight: 400;
          }
          .detail {
            width: 80vw;
            font-size: 1.1rem;
            font-weight: 300;
          }
          .right-bag {
            width: 18vw;
            top: 0;
            right: 5px;
            position: absolute;
            display: inline-block;
            text-align: right;
            button {
              margin: -10px 0 0 0;
              padding: 0 0 0 0;
              font-size: 0.86rem;
            }
          }
        }
      }
    }
  }

  .sign-out{
    height: 2.0em;
    font-size: 1.3rem;
    float: right;
  }
}
