<!--
  Generated template for the Profile page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    
   <button ion-button menuToggle><img src="assets/img/menu.png" class="menu-image"></button>
   <img src="assets/img/logo.png"  class="menu-logo-img">
   
    
   
    
  </ion-navbar>
  <!-- <div>
    <scroll-tabs #scrollTab  [tabs]="tabs" [selectEnable]="isTabsSelectable" (onSelectedTab)="tabChange($event)"></scroll-tabs>
  </div> -->
  <ion-segment mode="md" [(ngModel)]="tabNum" color="secondary">
    <ion-segment-button value="0" >
      <div class="search-change">{{'profilePage.segments.profile' | translate}}</div>
    </ion-segment-button>
    <ion-segment-button value="1">
      <div class="search-change">{{'profilePage.segments.myOrders' | translate}}</div>
    </ion-segment-button>
    <ion-segment-button value="2">
      <div class="search-change">{{'profilePage.segments.wishList' | translate}}</div>
    </ion-segment-button>
    <ion-segment-button value="3">
      <div class="search-change">{{'profilePage.segments.address' | translate}}</div>
    </ion-segment-button>
  </ion-segment>
  

</ion-header>

<ion-content class="page-profile">
  <div [ngSwitch]="tabNum">
    <!-- PROFILE -->
    <div class="content-wrapper" *ngSwitchCase="0">
      <div class="profile">
        <div class="avatar-image">
          <div class="avatar-container">
            <div class="avatar-cropper">
              
              <img src="assets/img/signup_male.png">
              <img *ngIf="user.gender  == 'Female'" src="assets/img/signup_female.png">
            </div>
          </div>
        </div> 
        
        <ion-list class="info-list">
          <ion-item>
            <ion-icon class="info-icon" item-left name="person"></ion-icon>
            <div class="info-detail">{{user.name}}</div>
          </ion-item>
          <ion-item>
            <ion-icon class="info-icon" item-left name="mail"></ion-icon>
            <div class="info-detail">{{user.email}}</div>
          </ion-item>
         
          
          <button class="sign-out" ion-button (tap)="signOut()">SignOut</button>
          <!--
          <ion-item>
            <ion-icon class="info-icon" item-left name="lock"></ion-icon>
            <div class="info-detail">Change password</div>
          </ion-item> -->

        </ion-list> 
  
      </div>
    </div>
    <!-- END PROFILE -->

    <!-- MY ORDERS -->
    <div class="content-wrapper" *ngSwitchCase="1">
      <div class="order">
        <ion-list class="order-list"> 
            <div *ngIf="orders.length == 0">  
                <div class="no-items">
                    <div class="title">
                        No orders made
                    </div>
                </div>
               
              </div>
          <button ion-item *ngFor="let order of orders">
            <div class="date">{{order.orderDate | date: 'dd-MMM-yyyy'}}</div>
            <div class="order-number">Order id #{{order.invoiceId}}</div>
            <ion-note [class.processing]="order.status !== 'Delivered'" [class.delivered]="order.status === 'Delivered'" item-right>
              {{order.status}}
            </ion-note>
          </button>
        </ion-list>
      </div>
    </div>
    <!-- END MY ORDERS -->

    <!-- WISHLIST --> 
    <div class="content-wrapper" *ngSwitchCase="2">
      <div class="wishlist">
        <ion-list class="cart-list"> 
            <div *ngIf="wishProducts.length == 0">  
                <div class="no-items">
                    <div class="title">
                        No wishlist added
                    </div>
                </div>
               
              </div>
          <ion-item-sliding *ngFor="let wish of wishProducts">
            <ion-item class="cart-list-item">
              <ion-thumbnail item-left>
                <img [src]="wish.image1">
              </ion-thumbnail>
              <h2>{{wish.name}}</h2>
        
              <div class="price-wrapper">
                <div class="price">LE {{wish.price - wish.discount}}</div>
                <div class="old-price">LE {{wish.price}}</div>
              </div>
              <button *ngIf="wish.status === 'in'" class="add-button" round small ion-button clear (tap)="add2Cart(wish)">Add to cart</button>
              <button *ngIf="wish.status === 'out'" round small ion-button clear></button>
             
              <!--
              <div item-right class="right-bag">
                <div *ngIf="wish.status === 'in'" class="available">In stock</div>
                <div *ngIf="wish.status === 'out'" class="notavailable">Out of stock</div>
              </div> --> 
            </ion-item>
            <ion-item-options class="actiion-button" side="right">
              <button ion-button icon-only color="danger" (tap)="removeWish(wish)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
    <!-- END WISHLIST -->

    <!-- SAVED ADDRESS -->
    <div class="content-wrapper" *ngSwitchCase="3">
      <div class="address-container">
        <ion-list class="address-list"> 
          <div *ngIf="savedAddresses.length == 0">  
            <div class="no-items">
                <div class="title">
                    No saved addresses
                </div>
            </div>
           
          </div>
          <ion-item-sliding *ngFor="let addr of savedAddresses">
            <ion-item class="address-list-item">
              <h2>{{addr.houseNum}} {{addr.street}}</h2>
              <div class="detail">{{addr.Block}},</div>
              <div class="detail">{{addr.city}}, {{addr.district}}, {{addr.country}} {{addr.zipCode}}</div>
              <!-- <div item-right class="right-bag">
                <button ion-button clear (click)="editAddress(addr)">Edit</button>
              </div> -->
            </ion-item>
            <ion-item-options class="actiion-button" side="right">
              <button ion-button icon-only color="danger" (click)="removeAddress(addr)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
    <!-- END SAVED ADDRESS -->
  </div>
</ion-content>
